<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="FlagbitTimeseries">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="DB_DSN" value="mysql:dbname=timeseries_test;host=localhost"/>
        <var name="DB_USER" value="travis"/>
        <var name="DB_PASSWD" value=""/>
        <var name="DB_DBNAME" value="timeseries_test"/>
    </php>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
